@import '../../assets/styles/variables';

.wrapper {
  width: 602px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'SF Pro Display', sans-serif;
  background: white;
  color: $dark;
}

.searchRow {
  position: relative;

  &::after {
    content: url('./img/search.svg');
    width: 25px;
    height: 25px;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 24px 72px 24px 24px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  color: inherit;
  caret-color: $purple;

  &::placeholder {
    color: $light;
  }
}
