@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Text-Semibold.otf') format('opentype'),
    url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
}
